# Data Processing

----
Credits for the bulk of the code to *Yaron Blinder, 'Predicting 30-day ICU readmissions from the MIMIC-III database'* <br>
https://github.com/YaronBlinder/MIMIC-III_readmission <br>

And from: https://github.com/bvanaken/clinical-outcome-prediction/blob/master/tasks/mimic_utils.py

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import os
import psycopg2
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# PARAMETERS

icu_stays = True # set to TRUE if we want to have only ICU stays
combine_dup = True # True if we want to combine the duplicates
remove_dup = True # True if we later want to remove the shortest note
seq_prio = False # set to True if we want to consider only the top priority code of hospitalization

expanded_def = True # set to True if we want to consider future readmissions and avoid using CMS 

if icu_stays == True:
    icu_folder = 'icu_only'
    if expanded_def:
        icu_folder = 'expanded'
else:
    icu_folder = 'all_hosp'

In [3]:
path_to_repo = os.path.dirname(os.getcwd())

print(path_to_repo)

C:\Users\luca9\Documents\MIMIC-III Text Mining\mimim_iii_readmission

In [4]:
path_to_data = os.path.join(path_to_repo,"data", icu_folder,"")
os.makedirs(path_to_data, exist_ok=True) # we create the directory if it does not exist
print(path_to_data)

C:\Users\luca9\Documents\MIMIC-III Text Mining\mimim_iii_readmission\data\expanded\

In [5]:
# create a database connection
sqluser = 'postgres'
dbname = 'mimic'
schema_name = 'mimiciii'
ps_password = 'postgres'

# Connect to local postgres version of mimic
con = psycopg2.connect(dbname=dbname, user=sqluser, password = ps_password)
cur = con.cursor()

In [6]:
# SQL query (gets all_data view defined elsewhere)
query = \
"""
select * from note_filter
"""

In [7]:
# Perform SQL query
cur.execute('SET search_path to ' + schema_name)
df = pd.read_sql_query(query,con)

In [8]:
if icu_stays == True:
    print("Observations before filtering:{}".format(df.shape))
    df.dropna(axis = 0, subset=["first_careunit","last_careunit"], inplace = True)
    print("Observations after filtering:{}".format(df.shape))

Observations before filtering:(59786, 14)
Observations after filtering:(58824, 14)

Eliminate all errors within discharge notes.

In [9]:
df = df[df.iserror != None]
# and drop the column since it won't be needed
df.drop('iserror', axis = 1, inplace = True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58824 entries, 0 to 59785
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subject_id      58824 non-null  int64
 1   hadm_id         58824 non-null  int64
 2   admittime       58824 non-null  datetime64[ns]
 3   dischtime       58824 non-null  datetime64[ns]
 4   deathtime       6387 non-null   datetime64[ns]
 5   first_careunit  58824 non-null  object
 6   last_careunit   58824 non-null  object
 7   age             58824 non-null  float64
 8   gender          58824 non-null  object
 9   marital_status  56124 non-null  object
 10  insurance       58824 non-null  object
 11  diagnosis       58823 non-null  object
 12  text            58824 non-null  object
dtypes: datetime64[ns](3), float64(1), int64(2), object(7)
memory usage: 6.3+ MB

We want to delete all the patients who died either during their first readmission or in later readmissions.

In [11]:
df_clean = df[np.isnat(df['deathtime'])].copy()

In [12]:
# sort our values by subject id
df_clean.sort_values('subject_id', inplace = True)
# drop deathtime column since we won't need it anymore
df_clean.drop('deathtime', axis = 1, inplace = True)

In [13]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52437 entries, 47209 to 44853
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subject_id      52437 non-null  int64
 1   hadm_id         52437 non-null  int64
 2   admittime       52437 non-null  datetime64[ns]
 3   dischtime       52437 non-null  datetime64[ns]
 4   first_careunit  52437 non-null  object
 5   last_careunit   52437 non-null  object
 6   age             52437 non-null  float64
 7   gender          52437 non-null  object
 8   marital_status  50308 non-null  object
 9   insurance       52437 non-null  object
 10  diagnosis       52436 non-null  object
 11  text            52437 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(7)
memory usage: 5.2+ MB

In [14]:
df_clean.reset_index(inplace = True, drop = True)

In [15]:
df_clean.shape

(52437, 12)

**ISSUE**: we have some duplicates.

In [16]:
# remove duplicates and keep the later ones
df_clean = df_clean.sort_values(by=["subject_id", "hadm_id", 'admittime'])
df_clean = df_clean.drop_duplicates(subset=["text"], keep="last")
df_clean.reset_index(inplace = True, drop = True)

In [17]:
df_clean.shape

(48765, 12)

Not only duplicates, we have duplicates in terms of subject_id, hamd_id couples.

In [18]:
df_clean['duplicate'] = df_clean.duplicated(['subject_id','hadm_id'], keep = False)

In [19]:
df_clean.loc[4, 'text']

'Name:  [**Known lastname 9900**], [**Known firstname **] C                     Unit No:  [**Numeric Identifier 9993**]\n\nAdmission Date:  [**2167-1-8**]     Discharge Date:  [**2167-1-15**]\n\nDate of Birth:   [**2127-2-27**]     Sex:  F\n\nService:  Cardiac surgery\n\nIf the previously right coronary artery stenosis is a cause\nfor concern or patient morbidity in the future, this lesion\ncan certainly be addressed percutaneously with balloon\nangiography. She will be followed very closely by Dr. [**Last Name (STitle) 677**]\nas an outpatient, and if this lesion does cause her problems,\nthis may be addressed.\n\n\n                          [**Doctor Last Name **] [**Last Name (Prefixes) **], M.D.  [**MD Number(1) 681**]\n\nDictated By:[**Last Name (NamePattern1) 4660**]\n\nMEDQUIST36\n\nD:  [**2167-1-14**]  16:39\nT:  [**2167-1-14**]  18:51\nJOB#:  [**Job Number 9994**]\n'

In [20]:
df_clean.loc[5, 'text']

'Admission Date:  [**2167-1-8**]       Discharge Date:  [**2167-1-15**]\n\nDate of Birth:   [**2127-2-27**]       Sex:  F\n\nService:  Cardiac surgery\n\nCHIEF COMPLAINT:  Chest pain.\n\nHISTORY OF PRESENT ILLNESS:  This is a 39-year-old woman with\ndiabetes, hypertension, hyperlipidemia and obesity, with a\none to two months of chest burning with exertion. For the\npast six months, she has been participating in a new vigorous\nexercise program to lose weight. Her symptoms do gradually\nresolve with rest, but they have started to occur now with\nwalking. She does acknowledge that there is associated\nnausea, diaphoresis and shortness of breath. Now recently she\nstarted to get symptoms for the past two days while at rest.\nShe was referred for an outpatient exercise tolerance test,\nwhere she had chest pain and significant EKG changes. She was\nreferred to [**Hospital1 18**] for cardiac catheterization today, which\nrevealed significant left main artery disease. Just prior to\nher transfer to [**Hospital1 18**], she did complain of chest pain and\nback pain at about 7/10 intensity and a nitroglycerin drip\nwas started and she received 5 mg of IV Lopressor and 2 mg of\nIV Ativan, which did resolve her pain. While she was in the\ncath lab, she had an intraaortic balloon pump placed, and now\nshe is not actively complaining of any pain.\n\nREVIEW OF SYSTEMS:  She denies any orthopnea, lower extremity\nedema, but she does acknowledge that she does have\ndysmenorrhea.\n\nPRIOR MEDICAL HISTORY:  She has diabetes mellitus, type 2,\ndiagnosed in [**2157**]. She has been able to control it with diet\nsince [**2166-6-22**]; hypertension and obesity; however, she has\nlost 40 pounds in the last six months.\n\nSHE HAS AN ALLERGY TO SHELLFISH.\n\nMEDICATIONS ON TRANSFERS TO [**Hospital1 18**]:  Atenolol 50 mg a day,\nlisinopril 10 mg a day, Lipitor 20 mg a day, aspirin 325 mg\nonce a day, progesterone, nitroglycerin drip, Lopressor,\nAtivan.\n\nSOCIAL HISTORY:  She does not smoke. She does not use ethanol\nand she does not use cocaine. Her father had a brain tumor.\nHer brother did have coronary artery disease and a myocardial\ninfarction in his late 30s. Her mother has hypertension. She\ndoes have a strong family history for hyperlipidemia.\n\nPHYSICAL EXAMINATION:  The patient is comfortable appearing,\nin no apparent distress. Vital signs: Temperature 99.1, pulse\n72, blood pressure 144/87. Pulse oximetry is 98% on room air.\nHead and neck: PERRLA. EOMI. Anicteric. Mucous membranes\nmoist. Neck supple, no lymphadenopathy, no JVD. Cardiac:\nRegular rate and rhythm. Lungs clear to auscultation\nbilaterally. Abdomen is soft, nontender, nondistended, but\nshe is morbidly obese, positive bowel sounds. Her extremities\nare warm, no edema. She has got 5/5 strength in all\nextremities.\n\nHer laboratories prior to admission from [**Hospital3 1280**] were\nwhite count 7.4, hematocrit of 39.8, platelets 190,000.\nHemoglobin A1c was 7.1. Sodium was 140, potassium 4.1,\nchloride 103, bicarbonate 28, BUN 14, creatinine 0.6. Total\ncholesterol was 307, triglycerides were 79, and HDL was 50.\n\n[**Last Name (STitle) 54218**], which was at [**Hospital3 1280**] (it was not at\n[**Hospital1 18**]), showed diffuse left main and proximal left anterior\ndescending artery stenosis, 60% to 70%, which was ulcerative;\n50% mid LAD stenosis; 50% left circumflex stenosis after OM1;\nmoderate right coronary artery stenosis; a normal ejection\nfraction of 78%; no mitral regurgitation. Note that the right\ncoronary artery stenosis that I am reported is different than\nwhat was actually reported on the initial catheterization\nresults from [**Hospital3 1280**]. This was discussed between Dr. [**Last Name (Prefixes) 411**] and Dr. [**Last Name (STitle) 911**], and was not actually considered to be\n80% as previously reported.\n\nSo this was a woman who was considered to have unstable\nangina but not actively ischemic. She was put on an\nintraaortic balloon pump, followed in the cardiac care unit,\nand was "preoped" and consented for a CABG on the next day\nbecause of her three-vessel disease. She was made n.p.o.\nafter midnight and then in the morning she was taken to the\noperating room.\n\nOn[**Last Name (STitle) 19203**] of [**2167-1-9**], Ms. [**Known lastname 42915**] went to the\noperating room with Dr. [**Last Name (Prefixes) **] for bypass surgery.\nPlease refer to the previously dictated operative note by Dr.\n[**Last Name (Prefixes) **] for the specifics of this surgery. In brief,\nthree grafts were made. One was a left internal mammary to\nthe left anterior descending artery and then two saphenous\nvein grafts were connected to the OM1 and OM2. She was on\ncardiopulmonary bypass for 76 minutes and the aorta was cross\nclamped for 53 of those minutes.\n\nShe tolerated the surgery well and was transferred to the\nintensive care unit on propofol and Neo-Synephrine drips.\n\nPostoperatively, Ms. [**Known lastname 42915**] did extremely well. Her\nintraaortic balloon pump and all of her intravenous drips\nwere discontinued on postoperative day one. On postoperative\nday two she was extubated and on postoperative day three she\nwas transferred to the floor. Ms. [**Known lastname 54219**] major floor issues\nwere as follows.\n\nMs. [**Known lastname 42915**] was followed by physical therapy, which cleared\nher to go home with home physical therapy to assist with\nmobility, strength and endurance. She was also actively\ndiuresed with Lasix and had her potassium repleted\naccordingly. Finally, she was noted to have hyperglycemia\nwhile she resumed her regular diet. [**Initials (NamePattern4) **] [**Last Name (NamePattern4) 8392**] consultation\nwas obtained and they recommended metformin 500 mg twice a\nday to maintain euglycemia. She would follow her sugar as an\noutpatient and report this back in an outpatient followup\nappointment.\n\nOn [**1-14**] the patient\'s central line was discontinued.\nShe was scheduled to leave, but she developed chest pain;\nhowever, this chest pain was considered not to be cardiac, to\nbe more gastrointestinal in nature, and she had ......... and\nan EKG, both of which confirmed a noncardiac source for this\nchest pain.\n\nShe is, therefore, on [**1-15**], postoperative day six,\nbeing discharged home in good condition with home physical\ntherapy scheduled.\n\nFINAL DIAGNOSES:\n1.  Type 2 diabetes mellitus.\n2.  Hypertension.\n3.  Obesity.\n4.  Hyperlipidemia.\n5.  Unstable angina.\n6.  Three-vessel coronary artery disease, status post\ncoronary artery bypass grafting, status post intraaortic\nballoon pump.\n7.  Hypokalemia.\n\nDISCHARGE MEDICATIONS:\n1.  Metoprolol 100 mg t.i.d.\n2.  Aspirin 325 mg p.o. q.d.\n3.  Captopril 50 mg p.o. t.i.d.\n4.  Lipitor 20 mg p.o. q.d.\n5.  Lasix 20 mg p.o. b.i.d. for one week.\n6.  Potassium chloride 10 mEq p.o. b.i.d. for one week.\n7.  Metformin 500 mg p.o. b.i.d.;  follow your blood sugar\nlevels and follow up with [**Doctor First Name 8392**].\n8.  Percocet one to two tablets every four hours as needed\nfor pain.\n9.  Colace 100 mg p.o. b.i.d. as needed for constipation.\n\n[**Last Name (STitle) 54220**]owup appointments are with Dr. [**Last Name (STitle) **], her primary\ncare physician, [**Name10 (NameIs) **] one to two weeks, Dr. [**Last Name (STitle) 911**], her\ncardiologist, in two to three weeks, Dr. [**First Name (STitle) **] from [**Doctor First Name 8392**]\nas directed, and Dr. [**Last Name (Prefixes) **] in one month. She is also\nrecommended to follow up in [**Hospital1 18**] Wound Care Clinic in one to\ntwo weeks to remove her staples.\n\n\n                            [**Doctor Last Name 412**] [**Last Name (Prefixes) 413**], M.D.  [**MD Number(1) 414**]\n\nDictated By:[**Last Name (NamePattern1) 1179**]\nMEDQUIST36\n\nD:  [**2167-1-14**]  16:37\nT:  [**2167-1-14**]  18:16\nJOB#:  [**Job Number 54221**]\n'

**Option 1:** We remove the shortest note, assuming that its information will be contained in the longer discharge note. <br>
**Option 2:** We merge the two notes, in case they are important addendums.

We have 37925 unique admission/subject IDs, and we have keys going up to 7 duplicates.

In [21]:
df_clean['key'] = df_clean.subject_id.astype(str) + '/' + df_clean.hadm_id.astype(str)

In [22]:
np.unique(df_clean.key.value_counts().values, return_counts = True)

(array([1, 2, 3, 4, 5, 6, 7], dtype=int64),
 array([37925,  4151,   605,   130,    26,    11,     1], dtype=int64))

In [23]:
df_clean.duplicated(['subject_id','hadm_id'], keep = False).value_counts()

False    37925
True     10840
dtype: int64

In [24]:
def merge_and_remove_dup(df_clean, combine_dup = True, remove_dup = True):
    """ Function to combine and remove duplicates 
    combine_dup: set to True if we want to combine duplicates text
    remove_dup: set to True if we want then to remove duplicates    
    """
    df_clean = df_clean.sort_values(by=["subject_id", "hadm_id", 'admittime'])
    df_clean['duplicate'] = df_clean.duplicated(['subject_id','hadm_id'], keep = False)
    # CODE TO REMOVE DUPLICATES -> here we are checking what note is the longes
    if combine_dup == False:
        for idx in np.arange(1,df_clean.shape[0]):
            if df_clean.duplicate[idx] == df_clean.duplicate[idx - 1] and df_clean.subject_id[idx] == df_clean.subject_id[idx - 1] and df_clean.hadm_id[idx] == df_clean.hadm_id[idx - 1]:     
                prev_note = len(df_clean.text[idx -1])
                current_note = len(df_clean.text[idx])
                max_lenght = max(prev_note, current_note)
                df_clean.loc[idx, 'duplicate'] = current_note != max_lenght
                df_clean.loc[idx-1, 'duplicate'] = prev_note != max_lenght

    # CODE TO COMBINE DUPLICATES -> here we are combining the two notes
    if combine_dup == True:
        for idx in np.arange(1,df_clean.shape[0]):
            if df_clean.duplicate[idx] == df_clean.duplicate[idx - 1] and df_clean.subject_id[idx] == df_clean.subject_id[idx - 1] and df_clean.hadm_id[idx] == df_clean.hadm_id[idx - 1]:     
                prev_note = len(df_clean.text[idx -1])
                current_note = len(df_clean.text[idx])
                max_lenght = max(prev_note, current_note)
                df_clean.loc[idx, 'duplicate'] = current_note != max_lenght
                df_clean.loc[idx-1, 'duplicate'] = prev_note != max_lenght
                if current_note != max_lenght:
                    df_clean.loc[idx -1, 'text'] = df_clean.text[idx -1] + '\n\n' + df_clean.text[idx]
                elif current_note == max_lenght:
                    df_clean.loc[idx, 'text'] = df_clean.text[idx] + '\n\n' + df_clean.text[idx-1]

    # CODE TO REMOVE DUPLICATES -> here we are removing the shortest notes (need to run this code in both options)
    if remove_dup == True:
        # get the number of actual duplicates
        print('Initial observations: {}'.format(df_clean.shape[0]))
        print(df_clean.duplicate.value_counts())
        # remove the duplicate rows
        df_clean = df_clean.loc[df_clean['duplicate'] == False,:]
        # sort our values by subject id
        df_clean.sort_values('subject_id', inplace = True)
        # drop duplicate column since we won't need it anymore
        df_clean.drop('duplicate', axis = 1, inplace = True)
        # and reset the index
        df_clean.reset_index(inplace = True, drop = True)
        print('Final observations: {}'.format(df_clean.shape[0]))
    return df_clean

In [25]:
df_clean = merge_and_remove_dup(df_clean, combine_dup = combine_dup, remove_dup = remove_dup)

Initial observations: 48765
False    43413
True      5352
Name: duplicate, dtype: int64
Final observations: 43413

There are still some rare instances in which there were was more than a single duplicate, we will thus repeat the process above to fix them.

In [26]:
df_clean.duplicated(['subject_id','hadm_id'], keep = False).value_counts()

False    42361
True      1052
dtype: int64

In [27]:
df_clean[df_clean.duplicated(['subject_id','hadm_id'], keep = False)].head(20)

,subject_id,hadm_id,admittime,dischtime,first_careunit,last_careunit,age,gender,marital_status,insurance,diagnosis,text,key
203,214,197273,2188-10-06 23:56:00,2188-11-04 11:40:00,CSRU,CSRU,63.442860,M,MARRIED,Private,"HYPOXIA,ACUTE CORONARY SYNDROME,HYPOTENSION,AC...",Admission Date: [**2188-10-6**] Dischar...,214/197273
204,214,197273,2188-10-06 23:56:00,2188-11-04 11:40:00,CCU,CCU,63.442860,M,MARRIED,Private,"HYPOXIA,ACUTE CORONARY SYNDROME,HYPOTENSION,AC...","Name: [**Known lastname 9454**], [**Known fir...",214/197273
216,228,167764,2132-10-30 02:16:00,2132-11-10 17:30:00,CCU,CCU,79.413360,F,WIDOWED,Medicare,LT FEMUR FRACTURE,Admission Date: [**2132-10-30**] Discha...,228/167764
217,228,167764,2132-10-30 02:16:00,2132-11-10 17:30:00,CCU,CCU,79.413360,F,WIDOWED,Medicare,LT FEMUR FRACTURE,"Name: [**Known lastname 9250**], [**Known fir...",228/167764
218,231,198608,2176-05-14 21:12:00,2176-06-05 15:00:00,MICU,MICU,36.731491,M,SINGLE,Private,PNEUMONIA,Admission Date: [**2176-5-14**] Dischar...,231/198608
219,231,198608,2176-05-14 21:12:00,2176-06-05 15:00:00,MICU,MICU,36.731491,M,SINGLE,Private,PNEUMONIA,Admission Date: [**2176-5-14**] Dischar...,231/198608
221,231,198608,2176-05-14 21:12:00,2176-06-05 15:00:00,MICU,MICU,36.731491,M,SINGLE,Private,PNEUMONIA,Admission Date: [**2176-5-14**] Dischar...,231/198608
311,330,197569,2133-02-27 12:30:00,2133-03-24 17:00:00,SICU,SICU,67.718173,M,SINGLE,Private,LEFT CAROTID STENOSIS/SDA,Admission Date: [**2133-2-27**] Dischar...,330/197569
312,330,197569,2133-02-27 12:30:00,2133-03-24 17:00:00,SICU,SICU,67.718173,M,SINGLE,Private,LEFT CAROTID STENOSIS/SDA,"Name: [**Known lastname 5057**],[**Known firs...",330/197569
343,362,142749,2112-07-10 02:31:00,2112-07-16 13:45:00,MICU,MICU,85.795459,F,WIDOWED,Medicare,HYPONATREMIA-R/O MYOCARDIAL INFARCTION-RHABDOM...,Admission Date: [**2112-7-10**] Dischar...,362/142749
344,362,142749,2112-07-10 02:31:00,2112-07-16 13:45:00,MICU,MICU,85.795459,F,WIDOWED,Medicare,HYPONATREMIA-R/O MYOCARDIAL INFARCTION-RHABDOM...,Admission Date: [**2112-7-10**] Dischar...,362/142749
446,497,152166,2192-07-22 00:28:00,2192-08-29 18:24:00,MICU,MICU,23.658340,M,SINGLE,Medicaid,DRUG OVERDOSE,Admission Date: [**2192-7-22**] Discharge...,497/152166
447,497,152166,2192-07-22 00:28:00,2192-08-29 18:24:00,MICU,MICU,23.658340,M,SINGLE,Medicaid,DRUG OVERDOSE,"Name: [**Known lastname 7936**], [**Known fir...",497/152166
461,515,184373,2162-06-12 16:28:00,2162-07-05 14:20:00,CCU,CCU,67.997892,M,MARRIED,Private,"ASCITIES, MITROVALVE REGURGITATION",Admission Date: [**2162-6-12**] Dischar...,515/184373
462,515,184373,2162-06-12 16:28:00,2162-07-05 14:20:00,CCU,CCU,67.997892,M,MARRIED,Private,"ASCITIES, MITROVALVE REGURGITATION",Admission Date: [**2162-6-12**] Dischar...,515/184373
559,634,145911,2116-10-30 21:05:00,2116-12-31 13:00:00,MICU,MICU,62.859360,M,MARRIED,Private,ELEVATED CREATININE-DEHYDRATION,"Name: [**Known lastname **], [**Known firstna...",634/145911
560,634,145911,2116-10-30 21:05:00,2116-12-31 13:00:00,MICU,MICU,62.859360,M,MARRIED,Private,ELEVATED CREATININE-DEHYDRATION,Admission Date: [**2116-10-30**] Discha...,634/145911
561,634,145911,2116-10-30 21:05:00,2116-12-31 13:00:00,MICU,MICU,62.859360,M,MARRIED,Private,ELEVATED CREATININE-DEHYDRATION,"Name: [**Known lastname **], [**Known firstna...",634/145911
562,634,145911,2116-10-30 21:05:00,2116-12-31 13:00:00,MICU,MICU,62.859360,M,MARRIED,Private,ELEVATED CREATININE-DEHYDRATION,Admission Date: [**2116-10-30**] Discha...,634/145911
576,663,177445,2143-12-27 07:15:00,2144-01-08 12:01:00,MICU,MICU,57.625635,F,MARRIED,Private,ACHALASIA/SDA,Admission Date: [**2143-12-27**] Discharg...,663/177445

In [28]:
for i in range(1,5):
    print('Iteration:{}'.format(i))
    df_clean = merge_and_remove_dup(df_clean, combine_dup = combine_dup, remove_dup = remove_dup)

Iteration:1
Initial observations: 43413
False    42872
True       541
Name: duplicate, dtype: int64
Final observations: 42872
Iteration:2
Initial observations: 42872
False    42827
True        45
Name: duplicate, dtype: int64
Final observations: 42827
Iteration:3
Initial observations: 42827
False    42825
True         2
Name: duplicate, dtype: int64
Final observations: 42825
Iteration:4
Initial observations: 42825
False    42825
Name: duplicate, dtype: int64
Final observations: 42825

In [29]:
df_clean.shape

(42825, 13)

In [30]:
df_clean.duplicated(['subject_id','hadm_id'], keep = False).value_counts()

False    42825
dtype: int64

In [31]:
np.unique(df_clean.key.value_counts().values, return_counts = True)

(array([1], dtype=int64), array([42825], dtype=int64))

In [32]:
df_clean.drop('key', axis = 1, inplace = True)

## Planned vs Unplanned Readmissions

We need to distinguish between planned and unplanned readmissions. In order to do so, we will employ the CMS Plannned Readmission Algorithm Version 3.0 (2015 update). Later version were ignored since they switched to ICD-10 codes.

![Planned Readmission Algorithm](img/planned_readmission.png)

First we will **load the icd codes for both diagnoses and procedures**.

In [33]:
# SQL query (gets all_data view defined elsewhere)
query_diag = \
"""
select * from icd_diag_data
"""

# SQL query (gets all_data view defined elsewhere)
query_proc = \
"""
select * from icd_proc_data
"""

In [34]:
# Perform SQL query
cur.execute('SET search_path to ' + schema_name)
diag_icd = pd.read_sql_query(query_diag,con)
proc_icd = pd.read_sql_query(query_proc,con)

In [35]:
proc_icd.shape

(240095, 6)

In [36]:
diag_icd.shape

(651047, 6)

Then we will upload the ICD-9 to CCS conversion tables, since the CMS algorithm uses a combination of ICD-9 codes and general CCS categories.

> Elixhauser A, Steiner C, Palmer L. Clinical Classifications Software (CCS), 2015. U.S. Agency for Healthcare Research and Quality. Available: http://www.hcup-us.ahrq.gov/toolssoftware/ccs/ccs.jsp

In [37]:
path_to_css = os.path.join(path_to_repo, "Readmission","css_categories","").replace("\\","/")
path_to_ccs_diag = f'{path_to_css}$dxref 2015.csv'
print(path_to_ccs_diag)

C:/Users/luca9/Documents/MIMIC-III Text Mining/mimim_iii_readmission/Readmission/css_categories/$dxref 2015.csv

In [38]:
ccs_diag = pd.read_csv(r"C:\Users\luca9\Documents\MIMIC-III Text Mining\Readmission\ccs_categories\$dxref 2015.csv", sep = ";")

ccs_proc = pd.read_csv(r"C:\Users\luca9\Documents\MIMIC-III Text Mining\Readmission\ccs_categories\$prref 2015.csv", sep = ";")

And drop the duplicates.

In [39]:
print("CCS-Diag: ",ccs_diag['ICD-9-CM CODE'].duplicated().sum())
print("CCS-Proc: ",ccs_proc['ICD-9-CM CODE'].duplicated().sum())

CCS-Diag:  384
CCS-Proc:  85

In [40]:
ccs_diag.drop_duplicates(subset = 'ICD-9-CM CODE', inplace = True)
ccs_proc.drop_duplicates(subset = 'ICD-9-CM CODE', inplace = True)

Then we perform a left-join of the MIMIC-III tables with the CCS ones to fetch the corresponding CCS code.

In [41]:
diag_icd = pd.merge(diag_icd, ccs_diag, how = 'left', left_on='icd9_code', right_on='ICD-9-CM CODE')
proc_icd = pd.merge(proc_icd, ccs_proc, how = 'left', left_on='icd9_code', right_on='ICD-9-CM CODE')

Then we import the categories from the Planned Readmission Algorithm.

In [42]:
path_to_excel = os.path.join(path_to_repo,"cms_planned_readmission","")
print(path_to_excel)

C:\Users\luca9\Documents\MIMIC-III Text Mining\mimim_iii_readmission\cms_planned_readmission\

In [43]:
xls = pd.ExcelFile(f'{path_to_excel}planned_readmission_algorithm.xlsx')

In [44]:
step_1 = pd.read_excel(xls, '1')
step_2 = pd.read_excel(xls, '2')
step_3 = pd.read_excel(xls, '3')
step_4 = pd.read_excel(xls, '4')

We first check how many procedures can be considered as a Planned Readmission (step 1).

In [45]:
step_1

,Type,Codification,Code,Description
0,Procedure,CCS,64,Bone marrow transplant
1,Procedure,CCS,105,Kidney transplant
2,Procedure,CCS,134,Cesarean section (Included only in all-payer p...
3,Procedure,CCS,135,Forceps; vacuum; and breech delivery (Included...
4,Procedure,CCS,176,Other organ transplantation

In [46]:
proc_icd['Step 1'] = proc_icd['CCS CATEGORY'].isin(list(step_1.Code))

In [47]:
proc_icd['Step 1'].value_counts()

False    239551
True        544
Name: Step 1, dtype: int64

We first check how many procedures can be considered as a Planned Readmission (step 2).

In [48]:
step_2

,Type,Codification,Code,Description
0,Diagnosis,CCS,45,Maintenance chemotherapy
1,Diagnosis,CCS,194,Forceps delivery (Included only in all-payer p...
2,Diagnosis,CCS,196,Normal pregnancy and/or delivery (Included onl...
3,Diagnosis,CCS,254,"Rehabilitation (Includes only V52.0, V52.1, V5..."

In [49]:
diag_icd['Step 2'] = diag_icd['CCS CATEGORY'].isin(list(step_2.Code))

In [50]:
diag_icd['Step 2'].value_counts()

False    650973
True         74
Name: Step 2, dtype: int64

Then check if the hospitalization includes a potentially planned procedure (step 3).

In [51]:
step_3

,Type,Codification,Code,Description
0,Procedure,CCS,3,Laminectomy; excision intervertebral disc
1,Procedure,CCS,5,Insertion of catheter or spinal stimulator and...
2,Procedure,CCS,9,Other OR therapeutic nervous system procedures
3,Procedure,CCS,10,Thyroidectomy; partial or complete
4,Procedure,CCS,12,Other therapeutic endocrine procedures
...,...,...,...,...
61,Procedure,ICD-9,3818,Endarterectomy leg vessel (from Procedure CCS ...
62,Procedure,ICD-9,5503,Percutaneous nephrostomy with and without frag...
63,Procedure,ICD-9,5504,Percutaneous nephrostomy with and without frag...
64,Procedure,ICD-9,9426,Electroshock therapy (from Procedure CCS 218-P...
65,Procedure,ICD-9,9427,Electroshock therapy (from Procedure CCS 218-P...

In [52]:
# we first check by CCS codes
proc_icd['Step 3'] = proc_icd['CCS CATEGORY'].isin(list(step_3.loc[step_3.Codification == "CCS",].Code))

In [53]:
proc_icd['Step 3'].value_counts()

False    189094
True      51001
Name: Step 3, dtype: int64

In [54]:
# and then for ICD-9 codes
proc_icd['Step 3-ICD'] = proc_icd['icd9_code'].isin(list(step_3.loc[step_3.Codification != "CCS",].Code))

In [55]:
proc_icd['Step 3-ICD'].value_counts()

False    240095
Name: Step 3-ICD, dtype: int64

In [56]:
# we then get the maximum between the two rows - i.e. if any of the two is True, then it could be a planned readmission
proc_icd["Step 3 - def"] = proc_icd[["Step 3", "Step 3-ICD"]].max(axis=1)

And then check the Step 4 diagnoses.

In [57]:
# we first check by CCS codes
diag_icd['Step 4'] = diag_icd['CCS CATEGORY'].isin(list(step_4.loc[step_4.Codification == "CCS",].Code))

In [58]:
diag_icd['Step 4'].value_counts()

False    404892
True     246155
Name: Step 4, dtype: int64

In [59]:
# and then for ICD-9 codes
diag_icd['Step 4-ICD'] = diag_icd['icd9_code'].isin(list(step_4.loc[step_4.Codification != "CCS",].Code))

In [60]:
diag_icd['Step 4-ICD'].value_counts()

False    651047
Name: Step 4-ICD, dtype: int64

In [61]:
# we then get the maximum between the two rows - i.e. if any of the two is True, then it could be an unplanned readmission
diag_icd["Step 4 - def"] = diag_icd[["Step 4", "Step 4-ICD"]].max(axis=1)

**Option 2:** Consider only the priority code for the hospitalization (*seq_num = 1.0*).

In [62]:
if seq_prio == True:
    diag_icd = diag_icd[diag_icd.seq_num == 1]
    proc_icd = proc_icd[proc_icd.seq_num == 1]

Finally we get the unique values out of the procedures and diagnosis. If one procedure/diagnosis of the same Patient/Hospitalization pair is "True", the final dataframe will be "True". The basic assumption is that if out of all the procedures/diagnoses one is a potentially planned one, the whole hospitalization was planned.

In [63]:
def unstack_planned(df, step):
    """
    Function to get the unique values for each subject/hospitalization
    """
    unstacked = (df.groupby(['subject_id', 'hadm_id'])[step]
        .apply(lambda x: pd.Series(x.max()))
        .unstack())
    unstacked.rename(columns = {0:step}, inplace = True)
    unstacked.reset_index(inplace = True)
    return unstacked

In [64]:
unstacked_step_1 = unstack_planned(proc_icd, "Step 1")
unstacked_step_2 = unstack_planned(diag_icd, "Step 2")
unstacked_step_3 = unstack_planned(proc_icd, "Step 3 - def")
unstacked_step_4 = unstack_planned(diag_icd, "Step 4 - def")

In [65]:
unstacked_step_2.shape

(58976, 3)

In [66]:
unstacked_step_1.shape

(52243, 3)

In [67]:
df_clean = pd.merge(df_clean, unstacked_step_1, how = 'left', on=['subject_id', 'hadm_id'])
df_clean = pd.merge(df_clean, unstacked_step_2, how = 'left', on=['subject_id', 'hadm_id'])
df_clean = pd.merge(df_clean, unstacked_step_3, how = 'left', on=['subject_id', 'hadm_id'])
df_clean = pd.merge(df_clean, unstacked_step_4, how = 'left', on=['subject_id', 'hadm_id'])

There are unfortunately missing data in procedures for certain pairs of Patients/Hospitalizations - with consequently missing data on Step 3 and Step 1 of our Planned Readmission Algorithm. We will consider them as unplanned procedures while processing our algorithm.

In [68]:
df_clean.isnull().sum()

subject_id           0
hadm_id              0
admittime            0
dischtime            0
first_careunit       0
last_careunit        0
age                  0
gender               0
marital_status    1633
insurance            0
diagnosis            1
text                 0
Step 1            5298
Step 2               0
Step 3 - def      5298
Step 4 - def         0
dtype: int64

## Readmissions

We now move onto calculating the **readmissions**.

In [69]:
# sort by subject, admission and admission time
df_clean = df_clean.sort_values(by=["subject_id", "admittime", "hadm_id"])
df_clean.reset_index(inplace = True)

In [70]:
df_clean.head(10)

,index,subject_id,hadm_id,admittime,dischtime,first_careunit,last_careunit,age,gender,marital_status,insurance,diagnosis,text,Step 1,Step 2,Step 3 - def,Step 4 - def
0,0,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,MICU,MICU,76.526788,M,MARRIED,Medicare,HYPOTENSION,Admission Date: [**2101-10-20**] Discharg...,False,False,False,True
1,1,4,185777,2191-03-16 00:28:00,2191-03-23 18:41:00,MICU,MICU,47.845044,F,SINGLE,Private,"FEVER,DEHYDRATION,FAILURE TO THRIVE",Admission Date: [**2191-3-16**] Discharge...,False,False,False,True
2,2,6,107064,2175-05-30 07:15:00,2175-06-15 16:00:00,SICU,SICU,65.940670,F,MARRIED,Medicare,CHRONIC RENAL FAILURE/SDA,Admission Date: [**2175-5-30**] Dischar...,True,False,False,True
3,3,11,194540,2178-04-16 06:18:00,2178-05-11 19:00:00,SICU,SICU,50.148292,F,MARRIED,Private,BRAIN MASS,Admission Date: [**2178-4-16**] ...,False,False,False,False
4,4,13,143045,2167-01-08 18:43:00,2167-01-15 15:15:00,CCU,CSRU,39.866116,F,None,Medicaid,CORONARY ARTERY DISEASE,Admission Date: [**2167-1-8**] Discharg...,False,False,True,True
5,6,17,194023,2134-12-27 07:15:00,2134-12-31 16:05:00,CSRU,CSRU,47.454296,F,MARRIED,Private,PATIENT FORAMEN OVALE\ PATENT FORAMEN OVALE MI...,Admission Date: [**2134-12-27**] ...,False,False,True,True
6,5,17,161087,2135-05-09 14:11:00,2135-05-13 14:40:00,CSRU,CSRU,47.819229,F,MARRIED,Private,PERICARDIAL EFFUSION,Admission Date: [**2135-5-9**] D...,False,False,True,True
7,7,18,188822,2167-10-02 11:18:00,2167-10-04 16:15:00,CCU,CCU,50.841554,M,MARRIED,Private,HYPOGLYCEMIA;SEIZURES,Admission Date: [**2167-10-2**] ...,False,False,False,True
8,8,19,109235,2108-08-05 16:25:00,2108-08-11 11:29:00,TSICU,TSICU,300.002968,M,None,Medicare,C-2 FRACTURE,Admission Date: [**2108-8-5**] D...,NaN,False,NaN,True
9,9,20,157681,2183-04-28 09:45:00,2183-05-03 14:45:00,CSRU,CSRU,75.876833,F,WIDOWED,Medicare,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,Admission Date: [**2183-4-28**] Dischar...,False,False,True,True

In [71]:
# calculate time delta between subsequent readmissions of the same patient 
df_clean['readmit_dt'] = np.zeros(df_clean.shape[0])
df_clean['next_readmit_dt'] = np.zeros(df_clean.shape[0])
df_clean['readmit_last_careunit'] = None
df_clean['adm_num'] = np.zeros(df_clean.shape[0])
df_clean['step_1_readmit'] = None
df_clean['step_2_readmit'] = None
df_clean['step_3_readmit'] = None
df_clean['step_4_readmit'] = None

for idx in np.arange(1,df_clean.shape[0]):
    if df_clean.subject_id[idx] == df_clean.subject_id[idx - 1]:     
        prev_disch = df_clean.dischtime[idx-1]
        curr_adm = df_clean.admittime[idx]
        dt = curr_adm - prev_disch
        dt_hrs_calc = np.round(dt.value/3600.0/1e9,2)

        df_clean.loc[idx,'adm_num'] = df_clean['adm_num'][idx-1] + 1
        df_clean.loc[idx, 'readmit_dt'] = dt_hrs_calc
        df_clean.loc[idx-1, 'next_readmit_dt'] = dt_hrs_calc
        df_clean.loc[idx, 'readmit_last_careunit'] = df_clean['last_careunit'][idx-1]
        
        # we need to check planned/unplanned readmission too
        df_clean.loc[idx-1, 'step_1_readmit'] = df_clean['Step 1'][idx]
        df_clean.loc[idx-1, 'step_2_readmit'] = df_clean['Step 2'][idx]
        df_clean.loc[idx-1, 'step_3_readmit'] = df_clean['Step 3 - def'][idx]
        df_clean.loc[idx-1, 'step_4_readmit'] = df_clean['Step 4 - def'][idx]

And then we calculate which of these readmissions happen before 30 days.

In [72]:
# Define threshold in hours
threshold = 30*24

In [73]:
# Define label column based on threshold
df_clean['future_readmit'] = None
df_clean['future_readmit'] = ['No' if dt == 0.0 else 'Yes' if dt<=threshold else 'No' for dt in df_clean.next_readmit_dt]

In [74]:
df_clean.head(50)

,index,subject_id,hadm_id,admittime,dischtime,first_careunit,last_careunit,age,gender,marital_status,...,Step 4 - def,readmit_dt,next_readmit_dt,readmit_last_careunit,adm_num,step_1_readmit,step_2_readmit,step_3_readmit,step_4_readmit,future_readmit
0,0,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,MICU,MICU,76.526788,M,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
1,1,4,185777,2191-03-16 00:28:00,2191-03-23 18:41:00,MICU,MICU,47.845044,F,SINGLE,...,True,0.00,0.00,None,0.0,None,None,None,None,No
2,2,6,107064,2175-05-30 07:15:00,2175-06-15 16:00:00,SICU,SICU,65.940670,F,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
3,3,11,194540,2178-04-16 06:18:00,2178-05-11 19:00:00,SICU,SICU,50.148292,F,MARRIED,...,False,0.00,0.00,None,0.0,None,None,None,None,No
4,4,13,143045,2167-01-08 18:43:00,2167-01-15 15:15:00,CCU,CSRU,39.866116,F,None,...,True,0.00,0.00,None,0.0,None,None,None,None,No
5,6,17,194023,2134-12-27 07:15:00,2134-12-31 16:05:00,CSRU,CSRU,47.454296,F,MARRIED,...,True,0.00,3094.10,None,0.0,False,False,True,True,No
6,5,17,161087,2135-05-09 14:11:00,2135-05-13 14:40:00,CSRU,CSRU,47.819229,F,MARRIED,...,True,3094.10,0.00,CSRU,1.0,None,None,None,None,No
7,7,18,188822,2167-10-02 11:18:00,2167-10-04 16:15:00,CCU,CCU,50.841554,M,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
8,8,19,109235,2108-08-05 16:25:00,2108-08-11 11:29:00,TSICU,TSICU,300.002968,M,None,...,True,0.00,0.00,None,0.0,None,None,None,None,No
9,9,20,157681,2183-04-28 09:45:00,2183-05-03 14:45:00,CSRU,CSRU,75.876833,F,WIDOWED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
10,10,21,109451,2134-09-11 12:17:00,2134-09-24 16:15:00,CCU,CCU,87.439319,M,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
11,11,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,MICU,MICU,64.928234,F,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
12,13,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,CSRU,CSRU,71.131748,M,MARRIED,...,True,0.00,36024.40,None,0.0,False,False,False,True,No
13,12,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,SICU,SICU,75.256447,M,MARRIED,...,True,36024.40,0.00,CSRU,1.0,None,None,None,None,No
14,14,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,CCU,CCU,39.017080,M,SINGLE,...,True,0.00,0.00,None,0.0,None,None,None,None,No
15,15,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,CCU,CCU,58.950196,M,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
16,16,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,CCU,CCU,72.006057,M,SINGLE,...,True,0.00,0.00,None,0.0,None,None,None,None,No
17,17,28,162569,2177-09-01 07:15:00,2177-09-06 16:00:00,CSRU,CSRU,74.384386,M,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
18,18,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,CCU,CCU,300.002725,M,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
19,19,32,175413,2170-04-04 08:00:00,2170-04-23 12:45:00,TSICU,TSICU,45.513203,M,None,...,True,0.00,0.00,None,0.0,None,None,None,None,No
20,20,33,176176,2116-12-23 22:30:00,2116-12-27 12:05:00,MICU,MICU,82.394515,M,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
21,21,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,CCU,CCU,304.604137,M,MARRIED,...,False,0.00,0.00,None,0.0,None,None,None,None,No
22,22,35,166707,2122-02-10 11:15:00,2122-02-20 15:30:00,CSRU,CSRU,69.442914,F,DIVORCED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
23,25,36,182104,2131-04-30 07:15:00,2131-05-08 14:00:00,CSRU,CSRU,69.699821,M,MARRIED,...,True,0.00,101.82,None,0.0,False,False,True,True,Yes
24,23,36,122659,2131-05-12 19:49:00,2131-05-25 13:30:00,CSRU,CSRU,69.734110,M,MARRIED,...,True,101.82,25942.00,CSRU,1.0,False,False,True,True,No
25,24,36,165660,2134-05-10 11:30:00,2134-05-20 13:16:00,MICU,MICU,72.728435,M,MARRIED,...,True,25942.00,0.00,CSRU,2.0,None,None,None,None,No
26,26,37,188670,2183-08-21 16:48:00,2183-08-26 18:54:00,MICU,MICU,68.928820,M,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
27,27,38,185910,2166-08-10 00:28:00,2166-09-04 11:30:00,CCU,TSICU,75.941484,M,WIDOWED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
28,28,41,101757,2132-12-31 10:30:00,2133-01-27 15:45:00,SICU,SICU,56.634882,M,SINGLE,...,True,0.00,0.00,None,0.0,None,None,None,None,No
29,29,42,119203,2116-04-26 18:58:00,2116-04-30 18:16:00,CCU,CCU,61.167090,M,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
30,30,43,146828,2186-10-01 23:15:00,2186-10-11 18:00:00,TSICU,TSICU,32.769968,M,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
31,31,44,181750,2192-11-19 18:14:00,2192-11-27 14:35:00,CSRU,CSRU,80.184534,M,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
32,32,45,157907,2129-06-10 00:32:00,2129-06-20 14:39:00,TSICU,TSICU,42.404823,M,SEPARATED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
33,33,46,144073,2133-02-20 18:21:00,2133-02-24 14:42:00,MICU,MICU,73.999607,M,SINGLE,...,True,0.00,0.00,None,0.0,None,None,None,None,No
34,34,49,190539,2186-11-21 07:15:00,2186-11-28 14:05:00,CSRU,CSRU,80.917042,M,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
35,35,52,190797,2191-01-10 02:12:00,2191-01-19 16:10:00,MICU,MICU,38.122920,M,SINGLE,...,True,0.00,0.00,None,0.0,None,None,None,None,No
36,36,53,155385,2170-03-20 20:20:00,2170-03-23 18:00:00,CCU,CCU,45.552941,M,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
37,37,55,190665,2136-04-03 18:35:00,2136-04-05 14:30:00,CCU,CCU,64.162321,F,MARRIED,...,False,0.00,0.00,None,0.0,None,None,None,None,No
38,38,59,104130,2197-11-14 17:07:00,2197-11-19 16:42:00,MICU,MICU,87.094894,F,WIDOWED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
39,39,61,176332,2118-06-17 14:40:00,2118-07-20 12:30:00,MICU,MICU,54.655848,M,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
40,40,62,116009,2113-02-15 00:19:00,2113-02-19 15:30:00,CCU,CCU,68.773616,M,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
41,41,63,195961,2169-01-07 01:50:00,2169-01-07 14:20:00,MICU,MICU,88.503174,M,DIVORCED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
42,42,64,172056,2143-03-03 09:25:00,2143-03-18 13:01:00,MICU,MICU,26.682015,F,SINGLE,...,True,0.00,0.00,None,0.0,None,None,None,None,No
43,43,65,143430,2132-08-10 07:13:00,2132-08-20 15:47:00,TSICU,TSICU,26.564033,M,SINGLE,...,True,0.00,0.00,None,0.0,None,None,None,None,No
44,44,67,186474,2155-02-25 12:45:00,2155-03-06 15:00:00,SICU,SICU,70.724427,M,SINGLE,...,True,0.00,0.00,None,0.0,None,None,None,None,No
45,46,68,170467,2173-12-15 16:16:00,2174-01-03 18:30:00,MICU,MICU,41.796063,F,SINGLE,...,True,0.00,27.85,None,0.0,False,False,False,True,Yes
46,45,68,108329,2174-01-04 22:21:00,2174-01-19 11:30:00,MICU,MICU,41.851516,F,SINGLE,...,True,27.85,0.00,MICU,1.0,None,None,None,None,No
47,47,71,111944,2164-02-03 22:07:00,2164-02-08 14:00:00,MICU,MICU,36.507087,F,SINGLE,...,True,0.00,0.00,None,0.0,None,None,None,None,No
48,48,73,194730,2170-12-22 00:12:00,2170-12-26 12:00:00,CCU,CCU,57.586500,F,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No
49,49,75,112086,2147-04-05 08:00:00,2147-04-11 14:45:00,CSRU,CSRU,76.771930,F,MARRIED,...,True,0.00,0.00,None,0.0,None,None,None,None,No

In [75]:
print ('Value counts:')
print (df_clean.future_readmit.value_counts())
print ('\nValue proportions:')
print (df_clean.future_readmit.value_counts()/df_clean.shape[0])
print ('\nReadmission counts:')
print (df_clean.adm_num.value_counts())

Value counts:
No     40381
Yes     2444
Name: future_readmit, dtype: int64

Value proportions:
No     0.942931
Yes    0.057069
Name: future_readmit, dtype: float64

Readmission counts:
0.0     33348
1.0      5650
2.0      1798
3.0       810
4.0       416
5.0       217
6.0       143
7.0       100
8.0        68
9.0        49
10.0       36
11.0       24
12.0       21
13.0       18
14.0       15
15.0       15
16.0       12
17.0       10
18.0        9
19.0        8
20.0        7
21.0        5
23.0        5
22.0        5
24.0        4
25.0        4
26.0        4
27.0        4
29.0        3
30.0        3
28.0        3
31.0        2
32.0        2
33.0        1
34.0        1
35.0        1
36.0        1
37.0        1
38.0        1
39.0        1
Name: adm_num, dtype: int64

There is only one case of negative readmission time, however it is mostly due to a mistake in the database. As we can read from the discharge notes, it was discharged and readmitted on the same date.

In [76]:
df_clean[(df_clean.readmit_dt < 0) | (df_clean.next_readmit_dt < 0)]

,index,subject_id,hadm_id,admittime,dischtime,first_careunit,last_careunit,age,gender,marital_status,...,Step 4 - def,readmit_dt,next_readmit_dt,readmit_last_careunit,adm_num,step_1_readmit,step_2_readmit,step_3_readmit,step_4_readmit,future_readmit
4131,4131,5246,119872,2185-11-14 08:36:00,2185-12-21 18:15:00,MICU,MICU,74.075157,M,SINGLE,...,True,0.00,-450.37,None,0.0,False,False,False,True,Yes
4132,4132,5246,199031,2185-12-02 23:53:00,2185-12-21 18:15:00,MICU,MICU,74.126182,M,SINGLE,...,True,-450.37,0.00,MICU,1.0,None,None,None,None,No

In [77]:
df_clean.text[4131]

"Admission Date:  [**2185-11-14**]              Discharge Date:   [**2185-12-2**]\n\nDate of Birth:  [**2111-10-19**]             Sex:   M\n\nService: MEDICINE\n\nAllergies:\nPatient recorded as having No Known Allergies to Drugs\n\nAttending:[**First Name3 (LF) 1973**]\nChief Complaint:\nUnresponsiveness, Hct 14.7\n\nMajor Surgical or Invasive Procedure:\nRight femoral line\nIntubation/mechanical ventilation\nEndoscopy\nColonscopy\n\n\nHistory of Present Illness:\nPt is 74 yo m w/ COPD, DM, h/o prostate CA, who presented to the\nED after having decreased responsiveness at his nursing homee.\nPt had FS to 300's, received insulin, and FS decreased to 180's\nafter EMS arrived.  Pt reportedly admitted to SOB x several\nweeks, but denies CP.  No N/V/F/C.  Denies hematemesis or bloody\nstools.  Pt had increasing edema over past several weeks, and\nLasix was recently increased from 40mg qd to 40mg [**Hospital1 **].\n.\nIn the [**Name (NI) **], pt was found to have hct of 14.8 and melena on rectal\nexam.  NGL was negative. He had a troponin of 0.12 and EKG\nchanges.  He reportedly was alert in the ED, but then on arrival\nto the [**Hospital Unit Name 153**] became less responsive and had periods of apnea. He\nwas placed on PSV 6/6 and his respiratory status stabiliezed.\nHe became slightly more responsive and did not tolerate BiPAP\nmask.\n\nPast Medical History:\n- COPD\n- HTN\n- DM 2\n- dementia\n- schizoaffective d/o\n- h/o prostate CA (unclear status and treatment hx)\n- hypothyroidism\n- gout\n- gluaucoma\n\nSocial History:\nLives at [**Hospital6 70405**].  Has a guardian. Sister is HCP.\n\n\nFamily History:\nnon-contributory\n\nPhysical Exam:\nVitals: T 96.2  160/70  93  20  95%\nGen: obese male in chair in NAD\nHEENT: PERRLA MM dry.\nNeck: Thick neck, unable to assess JVP.\nCardio: distant heart sounds, S1/S2 RRR\nResp: mild EE Wheezes BL\nAbd: obese, nt, +BS. No rebound/guarding.\nExt: 1+ BL LE edema\nNeuro: A&Ox0.  follows commands. ambulating without assistance.\n\nPertinent Results:\n[**2185-12-1**] 05:41AM BLOOD WBC-8.3 RBC-3.31* Hgb-9.7* Hct-29.0*\nMCV-88 MCH-29.5 MCHC-33.6 RDW-18.8* Plt Ct-619*\n[**2185-11-14**] 08:00AM BLOOD WBC-12.5* RBC-1.58* Hgb-4.6* Hct-14.8*\nMCV-93 MCH-29.1 MCHC-31.3 RDW-24.0* Plt Ct-377\n[**2185-12-1**] 05:41AM BLOOD Glucose-82 UreaN-13 Creat-0.8 Na-145\nK-3.1* Cl-101 HCO3-35* AnGap-12\n[**2185-11-26**] 03:24AM BLOOD CK(CPK)-313*\n[**2185-11-26**] 03:24AM BLOOD CK-MB-5 cTropnT-0.04*\n[**2185-12-1**] 05:41AM BLOOD Calcium-8.9 Phos-2.5* Mg-1.8\n[**2185-11-14**] 01:44PM BLOOD calTIBC-294 VitB12-602 Folate-8.4\nHapto-212* Ferritn-39 TRF-226\n[**2185-11-14**] 07:00AM BLOOD ASA-NEG Ethanol-NEG Acetmnp-NEG\nBnzodzp-NEG Barbitr-NEG Tricycl-NEG\n[**2185-11-20**] 04:15PM BLOOD HEPARIN DEPENDENT ANTIBODIES-\n\nEGD: Impression: Mucosa suggestive of Barrett's esophagus\nErosion in the fundus, stomach body and antrum compatible with\nNG trauma\nOtherwise normal EGD to second part of the duodenum\n\nColonscopy: Impression: Diverticulosis of the sigmoid colon,\ndescending colon and ascending colon\nOtherwise normal colonoscopy to cecum\n\nTTE: Conclusions:\nThe left atrium is dilated. There is mild symmetric left\nventricular\nhypertrophy. The left ventricular cavity size is normal. Due to\nsuboptimal\ntechnical quality, a focal wall motion abnormality cannot be\nfully excluded.\nLeft ventricular systolic function is hyperdynamic (EF 70-80%).\nThere is no\nventricular septal defect. Right ventricular chamber size and\nfree wall motion\nare normal. The ascending aorta is mildly dilated. The number of\naortic valve\nleaflets cannot be determined. The aortic valve leaflets are\nmoderately\nthickened. There is moderate aortic valve stenosis (area 0.8\ncm2) The mitral\nvalve leaflets are mildly thickened. There is no mitral valve\nprolapse. Mild\n(1+) mitral regurgitation is seen. The tricuspid valve leaflets\nare mildly\nthickened. There is moderate pulmonary artery systolic\nhypertension. There is\nno pericardial effusion.\n\n\nBrief Hospital Course:\nMr. [**Known lastname **] is a 74 year old man with COPD, DM 2, HTN, admitted\nfor unresponsivenes, found to have profound anemia of 14.8, with\nreport of dark tarry stool in ED. He was initially intubated for\ncolonoscopy/EGD, and could not be extubated afterward. His brief\nICU course, by problem:\n.\n#) Anemia: Baseline hct in high 30's, 14.8 on admission.\nEGD/colonoscopy unrevealing.  Per GI, capsule likely not\nindicated, patient's behavioral issues may prevent him from\ncooperating with capsule study requirements. No evidence of\nactive GI bleed or ischemia, thus lower threshold for\ntransfusion.\n.\n#) Respiratory failure: Initially failed extubation secondary to\npresumed VAP. On [**11-18**], he began to have thick green secretions\nand RR > 30 with fever to 101.8; concern for VAP, placed on\nvancomycin and cefepime.  Chest xray showed evidence of\nCHF/volume overload.  ECHO showed MR, AS, diastolic\nfailure--likely all contributing as well. Currently growing GNR\nin sputum for Ventilator Associated Pneumonia\n.\n#) Acute Blood Loss Anemia: Baseline hct in high 30's, 14.8 on\nadmission. Per GI, capsule likely not indicated, patient's\nbehavioral issues may prevent him from cooperating with capsule\nstudy requirements. No evidence of active GI bleed or ischemia,\nthus lower threshold for transfusion.\n.\n#) Thrombocytopenia:  Resolved. Multiple possible etiologies\nconsidered, including HIT (HIT antibodies negative), drug\neffect. Platelets 179 on [**11-22**].\n.\n#) NSTEMI: most likely due to demand ischemia in setting of\nprofound anemia. Pt has HTN, and now evidence of moderate AS on\nTTE.  Cardiology aware and recommended transfusing to Hct > 30;\nwill consider BB once hemodynamically stable.\n- Restart ASA and heparin in setting of GIB\n- Attempt re-start low-dose beta-blocker today\n- continue statin\n.\n#) Mental status change:  Pt currently intubated and sedated.\nMental status changes likely multifactorial in setting of\nanemia, NSTEMI, OSA, hyperglycemia, and hypercarbia in patient\nwith underlying dementia and schizoaffective d/o.  Per\nhealthcare proxy, at baseline patient usually more quiet and\nless agitated/ aggressive, but has periods of\nagitation/aggression. Resolved over several days post discharge\nfrom the ICU.\n.\n#) DM 2: pt on insulin 70/30 [**Hospital1 **] at rehab, here was on [**12-27**] dose\nuntil [**11-21**] when 2 more units AM and PM were added. Glucose not\ntightly managed, but given possibility of extubation (and\nholding tube feeds), will not start long-acting insulin until\nafter extubation\n- Continue to titrate up by 2 units (18units qAM, 17units qPM)\n- HISS\n.\n#) Comm: with [**Name (NI) **] [**Name (NI) **] ([**Telephone/Fax (1) 56955**]). Sister [**Name (NI) 382**], [**Name (NI) 56926**]\n[**Name (NI) **] [**Telephone/Fax (1) 70406**]); guardian ([**Name (NI) **] [**Name (NI) 70407**] [**Telephone/Fax (1) 70408**])\n- Per report sister will be in town tomorrow; expect code\ndiscussion surrounding extubation\n\n#) Access: left subclavian central line.  Difficult to gain\naccess.\n.\n#) Code: DNR/DNI (per form faxed from NH)\n\n\nMedications on Admission:\n.\nAvandia 4mg [**Hospital1 **]\nglucophage 1000mg [**Hospital1 **]\nMOM 30cc qhs prn\nInsulin (Novalin 70/30 32U QAM, 30U QPM)\nRISS\nLisinopril 20mg qd\nLasix 40mg [**Hospital1 **]\nTheophyline 300mg [**Hospital1 **]\nTrusopt eye drops tid\nTylenol 325-1g q6h prn\nUltram 50mg q6h prn\nZyprexa 2.5mg [**Hospital1 **]\nHytrin 1mg qhs\nVentolin [**Hospital1 **]\nLipitor 20mg qd (per nurse [**First Name (Titles) **] [**Last Name (Titles) **])\n.\n\nDischarge Medications:\n1. Dorzolamide 2 % Drops Sig: One (1) Drop Ophthalmic  TID (3\ntimes a day).\n2. Atorvastatin 20 mg Tablet Sig: One (1) Tablet PO DAILY\n(Daily).\n3. Avandia 4 mg Tablet Sig: One (1) Tablet PO twice a day.\n4. Glucophage 1,000 mg Tablet Sig: One (1) Tablet PO twice a\nday.\n5. Milk of Magnesia\n30cc QHS PRN\n\n6. Insulin\nNovalin 70/30 32 units QAM and 30 units QPM.  Please 1/2 doses\nwhen patient not taking PO.  Please continue insulin sliding\nscale as per your outpatient regimen.\n7. Lisinopril 20 mg Tablet Sig: One (1) Tablet PO once a day.\n8. Lasix 40 mg Tablet Sig: One (1) Tablet PO once a day.\nTablet(s)\n9. Theophylline 300 mg Tablet Sig: One (1) Tablet PO once a day.\n\n10. Tylenol 325 mg Tablet Sig: 1-2 Tablets PO every four (4)\nhours as needed for pain.\n11. Zyprexa 2.5 mg Tablet Sig: One (1) Tablet PO twice a day.\n12. Hytrin 1 mg Capsule Sig: One (1) Capsule PO at bedtime.\n13. Ventolin 5 mg/mL Solution Sig: 1-2 puffs Inhalation twice a\nday.\n14. Pantoprazole 40 mg Tablet, Delayed Release (E.C.) Sig: One\n(1) Tablet, Delayed Release (E.C.) PO Q12H (every 12 hours).\n15. Ipratropium Bromide 0.02 % Solution Sig: One (1) neb\nInhalation Q6H (every 6 hours).\n\n\nDischarge Disposition:\nExtended Care\n\nFacility:\n[**Location (un) **]\n\nDischarge Diagnosis:\nAcute Blood Loss Anemia\nGastritis\nCOPD\nObstructive Sleep Apnea\nVentilator Associated Pneumonia\nHypercarbic Respiratory Failure\nHypertension\n\nDischarge Condition:\nStable\n\nDischarge Instructions:\nReturn to the hospital if you have further vomitting of blood,\nblack tarry stools, bleeding, fever/chills\n\nFollowup Instructions:\nAs Needed\n\n\n"

In [78]:
df_clean.text[4132]

"Admission Date:  [**2185-12-2**]              Discharge Date:   [**2185-12-21**]\n\nDate of Birth:  [**2111-10-19**]             Sex:   M\n\nService: MEDICINE\n\nAllergies:\nPatient recorded as having No Known Allergies to Drugs\n\nAttending:[**First Name3 (LF) 1974**]\nChief Complaint:\n[**First Name3 (LF) **], MS change\n\nMajor Surgical or Invasive Procedure:\nnone\n\nHistory of Present Illness:\n74M discharged from [**Hospital1 18**] today, p/w MS change, [**Hospital1 **] to\n70-85% RA.  Pt was just admitted for blood loss anemia secondary\nto GI bleed.  Hospital course was complicated by respiratory\nfailure secondary to VAP and CHF, thrombocytopenia, MS change.\nHe was discharged to NH home, and then developed MS change and\n[**Hospital1 **].  There are no records from the NH with regards to\ndetails of MS [**First Name (Titles) **] [**Last Name (Titles) **].\n.\nIn ED, he had improvement in MS [**First Name (Titles) 151**] [**Last Name (Titles) 20358**].  Then, he became\nagitated.  ABG showed [**Last Name (Titles) **] without significant hypercarbia.\nHe also received ASA for pos cardiac enzymes and cipro for\nbacturia  PT was admitted to MICU for monitoring.\n.\nHe is unable to provide any history or answer any questions.\n\nPast Medical History:\n- COPD\n- HTN\n- DM 2\n- dementia\n- schizoaffective d/o\n- h/o prostate CA (unclear status and treatment hx)\n- hypothyroidism\n- gout\n- gluaucoma\n- h/o GI bleed:  no clear source found, colonoscopy showed\ndiverticulosis and EGD showed possible Barrett's\n- h/o CHF (EF>70%), mod AS, mild MR\n- NSTEMI on last admission\n\nSocial History:\nLives at [**Hospital6 70405**].  Has a guardian. Sister is HCP\n([**Telephone/Fax (1) 70406**]).\n\n\nFamily History:\nnon-contributory\n\nPhysical Exam:\nVS: 99.5---148/62---94---22---94% on BiPAP\nGEN: without BiPap, witnessed apneas with desaturation, obese\nHEENT: PERRL, anicteric.  OP clear.\nNECK:  unable to visualize JVP\nLUNGS:  anteriorly clear b/l with distant HS, no wheeze, rales\nCV:  RRR, tachy, [**2-28**] sys murmur at LUSB\nABD:  obese, soft, NT, ND, naBS\nEXT:  no edema, calf tndr.\nNEURO:  somnolent but arousable\n\nPertinent Results:\n[**2185-12-1**] 05:41AM   PLT COUNT-619*\n[**2185-12-1**] 05:41AM   WBC-8.3 RBC-3.31* HGB-9.7* HCT-29.0* MCV-88\nMCH-29.5 MCHC-33.6 RDW-18.8*\n[**2185-12-1**] 05:41AM   CALCIUM-8.9 PHOSPHATE-2.5* MAGNESIUM-1.8\n[**2185-12-1**] 05:41AM   GLUCOSE-82 UREA N-13 CREAT-0.8 SODIUM-145\nPOTASSIUM-3.1* CHLORIDE-101 TOTAL CO2-35* ANION GAP-12\n[**2185-12-2**] 09:30PM   CK-MB-6 cTropnT-0.15*\n[**2185-12-2**] 09:30PM   CK(CPK)-295*\n[**2185-12-2**] 10:01PM   TYPE-ART PO2-49* PCO2-49* PH-7.47* TOTAL\nCO2-37* BASE XS-10 INTUBATED-NOT INTUBA COMMENTS-O2 DELIVER\n,\nCTA [**2185-12-3**]:\n1.  Examination limited by patient motion, however, no central\nor segmental pulmonary embolus is identified.  No aortic\ndissection.\n2. Scattered patchy nodular opacities in the right middle and\nlower lung lobes may represent an infectious process.\n3.  Increased interstitial markings at the bilateral lung bases,\nmost likely represent combination of pulmonary edema and\ndependent changes.\n4. Incompletely visualized gallbladder shows multiple foci of\nair within\ngallstones.\n.\nCXR:\nCardiomegaly with patchy bilateral perihilar opacities likely\nrepresenting pulmonary edema. Moderate bilateral pleural\neffusions.\n.\nEEG: IMPRESSION: This is an abnormal EEG in the waking and\ndrowsy states due to the slow and disorganized background, as\nwell as bursts of\ngeneralized delta slowing. This suggests an encephalopathic\npattern,\nwhich may be seen with infections, medications, toxic metabolic\nabnormalities or ischemia. No epileptiform discharges were\nnoted.\n.\n\n[**2185-12-21**] 10:15AM BLOOD WBC-6.6 RBC-3.05* Hgb-9.3* Hct-27.4*\nMCV-90 MCH-30.5 MCHC-34.0 RDW-19.6* Plt Ct-221\n[**2185-12-18**] 10:12AM BLOOD WBC-6.3 RBC-3.00* Hgb-8.9* Hct-26.9*\nMCV-90 MCH-29.8 MCHC-33.2 RDW-19.3* Plt Ct-227\n[**2185-12-2**] 10:20PM BLOOD Neuts-69.3 Bands-0 Lymphs-19.3 Monos-6.0\nEos-5.3* Baso-0.1\n[**2185-12-21**] 10:15AM BLOOD Plt Ct-221\n[**2185-12-18**] 10:12AM BLOOD Glucose-150* UreaN-16 Creat-0.8 Na-141\nK-3.4 Cl-105 HCO3-27 AnGap-12\n[**2185-12-18**] 05:30AM BLOOD Glucose-83 UreaN-16 Creat-0.8 Na-139\nK-4.0 Cl-103 HCO3-25 AnGap-15\n[**2185-12-14**] 05:50AM BLOOD estGFR-Using this\n[**2185-12-3**] 11:38AM BLOOD ALT-25 AST-35 LD(LDH)-360* AlkPhos-63\nAmylase-42 TotBili-0.4\n[**2185-12-3**] 03:10AM BLOOD CK-MB-6 cTropnT-0.12*\n[**2185-12-21**] 10:15AM BLOOD Mg-1.5*\n[**2185-12-18**] 10:12AM BLOOD Mg-1.3*\n[**2185-12-4**] 07:42PM BLOOD VitB12-1116*\n[**2185-12-3**] 11:38AM BLOOD VitB12-1151* Folate-7.7\n[**2185-12-4**] 07:42PM BLOOD TSH-3.4\n[**2185-12-13**] 05:20AM BLOOD T4-4.7 T3-67* Free T4-1.6\n[**2185-12-6**] 05:15AM BLOOD Theophy-3.0*\n[**2185-12-2**] 10:20PM BLOOD Theophy-<0.8*\n[**2185-12-2**] 10:01PM BLOOD Type-ART pO2-49* pCO2-49* pH-7.47*\ncalTCO2-37* Base XS-10 Intubat-NOT INTUBA Comment-O2 DELIVER\n[**2185-12-7**] 03:31AM BLOOD Type-ART Rates-[**8-4**] Tidal V-500 PEEP-8\nFiO2-30 pO2-55* pCO2-62* pH-7.40 calTCO2-40* Base XS-10\nIntubat-NOT INTUBA\n[**2185-12-10**] 10:41AM BLOOD Type-ART FiO2-95 pO2-61* pCO2-47*\npH-7.46* calTCO2-34* Base XS-8 AADO2-584 REQ O2-94 Intubat-NOT\nINTUBA\n\nBrief Hospital Course:\n74M with h/o dementia and schizoaffective disorder, COPD, recent\nGI bleed and vent associated pneumonia presents with change in\nmental status and [**Month/Day/Year **].\n..\n1) [**Month/Day/Year **]:\nThe differential diagnosis on admission included recurrent\npneumonia, CHF, sleep apnea. The patient was noted to be hypoxic\nduring sleep at the nursing home. Upon observation in ICU he has\nwitnessed apneas that correlate with [**Month/Day/Year **].  Chest CTA shows\nno evidence of pneumonia or PE.  There is mild CHF but would not\naccount for acute desaturations. Sleep apnea was thought to be a\nprimary factor in the recurrent episodes of [**Month/Day/Year **] at night.He\nwas started on noninvasive ventilation during sleep. However the\npatient was not cooperative and very agitated at times and\nneeded to be restrained medically and physically to tolerate\nBIPAP. The problem of the patients inability to cooperate with\nmedications and BIPAP use and the possible dangers to his health\nincluding hypoventilation and death were discussed with the\npatient's sister.  A sleep consult was obtained to help with the\npatients management. Haldol 5mg at night was attempted as a\nstrategy to minize agitation at night and facilitate compliance\nwith BiPAP.\n    The option of definitive tracheostomy was discussed with the\nMICU Pulmonologists. Howevever, it was determined that the risks\nof treatment would outweigh the benefits of the procedure, given\nthe risk of self-decannulation during an episode of agitation.\nThe ongoing risk of [**Month/Day/Year **] was discussed with the patient and\nwith his sister and that there was no medical treatment that\ncould eradicate this risk.\n..\n2) CHF/Aortic stenosis:\nPer Echo [**2185-11-16**]: [**Location (un) 109**] 0.8 gradient 34. EF 70-80% Mild pulm\nedema on CXR and chest CT. The patient was mildly overloaded on\nadmission and was diuresed initially. He was then started on\ndaily Lasix to maintain euvolemia. Lisinopril was continued and\nuptitrated.\n..\n3) CAD:\nOn admission, had mild cardiac enzyme elevation c/w demand\nischemia.  Aspirin was avoided due to a recent severe GIB.\nContinued lipitor.\n..\n4) BACTERURIA:  U/A equivocal with neg nitrite, LE and pyuria,\nbacteruria.  As pt has no other signs of infection, and culture\nwas negative, antibiotics were not given.\n..\n5) DM2:  Avandia and glucophage were withheld initially.  Outpt\ninsulin regimen was continued. Subsequently as component of CHF\nwas improving, Avandia and glucophage were restarted.\n..\n6) NEURO/PSYCH:\nPt has dementia and SAD.  Hypercarbia may have accounted\npartially for his mental status changes as well.  [**Location (un) **] may\nhave contributed.  The patient was intermittently very agitated\nand aggressive and required four point restraints and 1:1\nsitter. Psychiatry was consulted and helped with management.\nHaldol was given standing and prn in acute agitation. The\npatient became more cooperative. Once the acute medical issues\nhad resolved, the Haldol was decreased to 5mg PO qhs, and the\nprn Haldol was hardly used on the floor. EEG was performed to\nrule out seizures as a possible cause of the episodes of\nlethargy which were being attributed to non-compliance with\nCPAP. The EEG showed only diffuse slowing.\n..\n7) h/o severe GI bleed:\nOn a prior admission, the pt was recently admitted to [**Hospital1 18**]\n[**2185-11-14**] with a severe GI bleed and found to have hct of 14 and\nhe was unresponsive. EGC and colonoscopy were unrevealing. This\nremained an inactive issue during this admission and the pt\nrequired no transfusions, though continued to have a hct in the\n27 range\n.\n8) Syphilis:\nRPR was positive. He was initially empirically treated.\nPencillin was started on [**12-9**] and stopped on [**12-13**] when\nconfirmatory tests came back negative.\n.\n9. Hypomagenesemia:\nThe pt was noted to have low magnesium during the stay, he\nrequired repletion during that last week of his stay and\ncontinued to have mag 1.5. Oral magnesium was ordered to be\ncontinued daily at discharge.\n.\ncode: DNR/DNI\n\nMedications on Admission:\n1. Dorzolamide 2 % Drops Sig: One (1) Drop Ophthalmic  TID\n2. Atorvastatin 20 mg Tablet Sig: One (1) Tablet PO DAILY\n3. Avandia 4 mg Tablet Sig: One (1) Tablet PO twice a day.\n4. Glucophage 1,000 mg Tablet Sig: One (1) Tablet PO bid\n5. Milk of Magnesia 30cc QHS PRN\n6. Insulin Novalin 70/30 32 units QAM and 30 units QPM.\n7. Lisinopril 20 mg Tablet Sig: One (1) Tablet PO once a day.\n8. Lasix 40 mg Tablet Sig: One (1) Tablet PO once a day.\n9. Theophylline 300 mg Tablet Sig: One (1) Tablet PO once a day.\n\n10. Tylenol 325 mg Tablet Sig: 1-2 Tablets PO every four (4)\nhours as needed for pain.\n11. Zyprexa 2.5 mg Tablet Sig: One (1) Tablet PO twice a day.\n12. Hytrin 1 mg Capsule Sig: One (1) Capsule PO at bedtime.\n13. Ventolin 5 mg/mL Solution Sig: 1-2 puffs Inhalation [**Hospital1 **].\n14. Pantoprazole 40 mg [**Hospital1 **]\n15. Ipratropium Bromide neb q6h\n\nDischarge Medications:\n1. Atorvastatin 20 mg Tablet Sig: One (1) Tablet PO DAILY\n(Daily).\n2. Dorzolamide 2 % Drops Sig: One (1) Drop Ophthalmic TID (3\ntimes a day).\n3. Pantoprazole 40 mg Tablet, Delayed Release (E.C.) Sig: One\n(1) Tablet, Delayed Release (E.C.) PO Q12H (every 12 hours).\n4. Terazosin 1 mg Capsule Sig: One (1) Capsule PO HS (at\nbedtime).\n5. Metformin 500 mg Tablet Sig: Two (2) Tablet PO BID (2 times a\nday).\n6. Rosiglitazone 2 mg Tablet Sig: Two (2) Tablet PO BID (2 times\na day).\n7. Tiotropium Bromide 18 mcg Capsule, w/Inhalation Device Sig:\nOne (1) Cap Inhalation DAILY (Daily).\n8. Albuterol Sulfate 0.083 % Solution Sig: One (1)  Inhalation\nQ4H (every 4 hours) as needed.\n9. Lisinopril 20 mg Tablet Sig: 1.5 Tablets PO DAILY (Daily).\n10. Benztropine 1 mg Tablet Sig: One (1) Tablet PO BID (2 times\na day).\n11. Metoprolol Tartrate 25 mg Tablet Sig: 0.5 Tablet PO TID (3\ntimes a day).\n12. Hydralazine 10 mg Tablet Sig: One (1) Tablet PO Q6H (every 6\nhours).\n13. Haloperidol 5 mg Tablet Sig: One (1) Tablet PO HS (at\nbedtime).\n14. Furosemide 40 mg Tablet Sig: 1.5 Tablets PO DAILY (Daily).\n15. Haloperidol 1 mg Tablet Sig: 1-2 Tablets PO Q6H (every 6\nhours) as needed for agitation.\n16. Ferrous Sulfate 325 (65) mg Tablet Sig: One (1) Tablet PO\nDAILY (Daily).\n17. Magnesium Oxide 400 mg Tablet Sig: One (1) Tablet PO DAILY\n(Daily).\n\n\nDischarge Disposition:\nExtended Care\n\nFacility:\n[**Hospital6 4657**] - [**Location 1268**]\n\nDischarge Diagnosis:\nPrimary Diagnoses:\n1. Obstructive Sleep Apnea\nSecondary Diagnoses:\n1. Schizoaffective disorder\n2. HTN\n3. DM\n4. Dementia NOS\n5. CAD\n6. CHF (EF>70%), mod AS, mild AR\n\n\nDischarge Condition:\nStable, does have continuing risk of hypercarbia if not wearing\nBipap at night, discussed with pt and family\n\n\nDischarge Instructions:\nReturn to the ED if you have any of the following: difficulty\nbreathing, fevers, chills, confusion, chest pain, shortness of\nbreath, or any other concerning symptoms.\n.\n\n\nFollowup Instructions:\nYou do not have a PCP in our records. If the nursing home you\nreside at would like you to have a PCP at [**Hospital1 18**], call\n[**Telephone/Fax (1) 250**] to arrange for one to be set up.\n\n\n\n"

We have now three types of data:

1. First hospitalization
2. Second hospitalization - Readmission within 30 days
3. Second hospitalization - Readmission after 30 days

Since we need to predict the second readmission, we need to drop all the second hospitalization, **even those which happened after 30 days, as they will indeed represent patiens who are suffering of some recurring problems** (*and thus we cannot really use such observations as First hospitalizations*).

We will also drop from Third Hospitalization on for the same reason, even if the second/third/etc. hospitalization is a completely separate event (*i.e. happening after 30 days*).

In [79]:
if expanded_def:
    df_final = df_clean
else:
    df_final = df_clean.loc[df_clean['adm_num'] == 0,:].copy()

In [80]:
df_final.head(10)

,index,subject_id,hadm_id,admittime,dischtime,first_careunit,last_careunit,age,gender,marital_status,...,Step 4 - def,readmit_dt,next_readmit_dt,readmit_last_careunit,adm_num,step_1_readmit,step_2_readmit,step_3_readmit,step_4_readmit,future_readmit
0,0,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,MICU,MICU,76.526788,M,MARRIED,...,True,0.0,0.0,None,0.0,None,None,None,None,No
1,1,4,185777,2191-03-16 00:28:00,2191-03-23 18:41:00,MICU,MICU,47.845044,F,SINGLE,...,True,0.0,0.0,None,0.0,None,None,None,None,No
2,2,6,107064,2175-05-30 07:15:00,2175-06-15 16:00:00,SICU,SICU,65.940670,F,MARRIED,...,True,0.0,0.0,None,0.0,None,None,None,None,No
3,3,11,194540,2178-04-16 06:18:00,2178-05-11 19:00:00,SICU,SICU,50.148292,F,MARRIED,...,False,0.0,0.0,None,0.0,None,None,None,None,No
4,4,13,143045,2167-01-08 18:43:00,2167-01-15 15:15:00,CCU,CSRU,39.866116,F,None,...,True,0.0,0.0,None,0.0,None,None,None,None,No
5,6,17,194023,2134-12-27 07:15:00,2134-12-31 16:05:00,CSRU,CSRU,47.454296,F,MARRIED,...,True,0.0,3094.1,None,0.0,False,False,True,True,No
6,5,17,161087,2135-05-09 14:11:00,2135-05-13 14:40:00,CSRU,CSRU,47.819229,F,MARRIED,...,True,3094.1,0.0,CSRU,1.0,None,None,None,None,No
7,7,18,188822,2167-10-02 11:18:00,2167-10-04 16:15:00,CCU,CCU,50.841554,M,MARRIED,...,True,0.0,0.0,None,0.0,None,None,None,None,No
8,8,19,109235,2108-08-05 16:25:00,2108-08-11 11:29:00,TSICU,TSICU,300.002968,M,None,...,True,0.0,0.0,None,0.0,None,None,None,None,No
9,9,20,157681,2183-04-28 09:45:00,2183-05-03 14:45:00,CSRU,CSRU,75.876833,F,WIDOWED,...,True,0.0,0.0,None,0.0,None,None,None,None,No

In [81]:
print ('Value counts:')
print (df_final.future_readmit.value_counts())
print ('\nValue proportions:')
print (df_final.future_readmit.value_counts()/df_final.shape[0])
print ('\nReadmission counts:')
print (df_final.adm_num.value_counts())

Value counts:
No     40381
Yes     2444
Name: future_readmit, dtype: int64

Value proportions:
No     0.942931
Yes    0.057069
Name: future_readmit, dtype: float64

Readmission counts:
0.0     33348
1.0      5650
2.0      1798
3.0       810
4.0       416
5.0       217
6.0       143
7.0       100
8.0        68
9.0        49
10.0       36
11.0       24
12.0       21
13.0       18
14.0       15
15.0       15
16.0       12
17.0       10
18.0        9
19.0        8
20.0        7
21.0        5
23.0        5
22.0        5
24.0        4
25.0        4
26.0        4
27.0        4
29.0        3
30.0        3
28.0        3
31.0        2
32.0        2
33.0        1
34.0        1
35.0        1
36.0        1
37.0        1
38.0        1
39.0        1
Name: adm_num, dtype: int64

In [82]:
# we drop columns we will not be using anymore
df_final.drop(['readmit_dt', 'readmit_last_careunit', 'adm_num', 'Step 1', 'Step 2', 'Step 3 - def', 'Step 4 - def'], axis = 1, inplace = True)
df_final.reset_index(inplace = True, drop = True)

We now need to distinguish between planned and unplanned readmissions using the aformentioned algorithm.

In [83]:
def planned_admission(row):
    """
    Function to apply the Planned Readmission Algorithm
    """
    if row["step_1_readmit"] == True:
        row['planned_readmit'] = 'Planned'
    elif row["step_2_readmit"] == True:
        row['planned_readmit'] = 'Planned'
    elif row["step_3_readmit"] == True and row["step_4_readmit"] == False:
        row['planned_readmit'] = 'Planned'
    else:
        row['planned_readmit'] = 'Unplanned'
    return row['planned_readmit']

In [84]:
df_final['planned_readmit'] = df_final.apply(planned_admission, axis = 1)

In [85]:
if expanded_def == False:
    # replace with "No" for all hospitalizations without readmission
    df_final['planned_readmit'] = np.where(df_final['future_readmit'] == 'No', 'No', df_final['planned_readmit'])

In [86]:
df_final.planned_readmit.value_counts()

Unplanned    42629
Planned        196
Name: planned_readmit, dtype: int64

In [87]:
df_final.step_1_readmit.value_counts()

False    7887
True      105
Name: step_1_readmit, dtype: int64

In [88]:
df_final.step_2_readmit.value_counts()

False    9461
True       16
Name: step_2_readmit, dtype: int64

In [89]:
df_final.step_3_readmit.value_counts()

False    5598
True     2394
Name: step_3_readmit, dtype: int64

In [90]:
df_final.step_4_readmit.value_counts()

True     9311
False     166
Name: step_4_readmit, dtype: int64

As we can see planned readmissions are not many. In any case, they will be **dropped**.

In [93]:
# drop readmissions
if expanded_def == False:
    df_final_v02 = df_final[df_final['planned_readmit'] != 'Planned']
else:
    df_final_v02 = df_final.copy()

In [96]:
# define our target
if expanded_def:
    df_final_v02['target'] = np.where(df_final_v02['future_readmit'] == 'Yes', 1, 0)
else:
    df_final_v02['target'] = np.where(df_final_v02['planned_readmit'] == 'Unplanned', 1, 0)

In [97]:
df_final_v02.target.value_counts()

0    40381
1     2444
Name: target, dtype: int64

In [98]:
df_final_v02.shape

(42825, 21)

In [99]:
df_final_v02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42825 entries, 0 to 42824
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            42825 non-null  int64
 1   subject_id       42825 non-null  int64
 2   hadm_id          42825 non-null  int64
 3   admittime        42825 non-null  datetime64[ns]
 4   dischtime        42825 non-null  datetime64[ns]
 5   first_careunit   42825 non-null  object
 6   last_careunit    42825 non-null  object
 7   age              42825 non-null  float64
 8   gender           42825 non-null  object
 9   marital_status   41192 non-null  object
 10  insurance        42825 non-null  object
 11  diagnosis        42824 non-null  object
 12  text             42825 non-null  object
 13  next_readmit_dt  42825 non-null  float64
 14  step_1_readmit   7992 non-null   object
 15  step_2_readmit   9477 non-null   object
 16  step_3_readmit   7992 non-null   object
 17  step_4_readmit   9477 non-null   object
 18  future_readmit   42825 non-null  object
 19  planned_readmit  42825 non-null  object
 20  target           42825 non-null  int32
dtypes: datetime64[ns](2), float64(2), int32(1), int64(3), object(13)
memory usage: 6.7+ MB

In [100]:
# and save our cleaned dataframe for next usage
# drop columns we do not need anymore
df_final_v02.drop(['step_1_readmit', 'step_2_readmit', 'step_3_readmit', 'step_4_readmit','future_readmit','planned_readmit'], axis = 1, inplace = True)
# need to reset the index
df_final_v02.reset_index(inplace=True, drop = True)
# save our dataset up to now in feather format
df_final_v02.to_feather(f'{path_to_data}df_cleaned')